User/Package Control.cache

User/oscrypto-ca-bundle.crt

User/Package Control.last-run

User/Package Control.merged-ca-bundle

User/Package Control.user-ca-bundle

User/SQLToolsConnections.sublime-settings

User/SQLToolsSavedQueries.sublime-settings